In [33]:
import pandas as pd
import numpy as np

arr = np.array([31,29,31,30,31])

# Series are v similar to Dictionaries. Can pass such also etc.
ser = pd.Series(arr, index=['J','F','M','A','M'])
#  can select individual elements as ordinary numpy arrays,
ser[2]

31

In [34]:
arr[1] = 28 # passed by ref, so this will change in ser also!

ser[ser > 28]

J    31
M    31
A    30
M    31
dtype: int64

In [36]:
np.median(ser) # can use numpy fns for convenience

31.0

In [53]:
# Useful NaN and value checks...
#
serd = pd.Series([1,0,2,1,2,3,np.NaN], \
                 index=['white','white','blue','green','green','yellow','transparent'])
print( 'non numeric', serd.isnull() ) # also use notnull()
print('check values in...', serd.isin([0,3,2])) # which members are in...

serd.value_counts() # doesnt show NaNs

non numeric white          False
white          False
blue           False
green          False
green          False
yellow         False
transparent     True
dtype: bool
check values in... white          False
white           True
blue            True
green          False
green           True
yellow          True
transparent    False
dtype: bool

2.0    2
1.0    2
3.0    1
0.0    1
dtype: int64

In [63]:
# DFs have two index arrays, the index and the columns index.
data_a = {'color' : ['blue','green','yellow','red','white'],\
        'object' : ['ball','pen','pencil','paper','mug'],\
         'price' : [1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data_a)
print(frame.head())
frame.index

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

RangeIndex(start=0, stop=5, step=1)

In [69]:
data = np.arange(16).reshape(4,4)
cols = data_a['object'][0:4]
print(cols)
df = pd.DataFrame(data, columns=cols)
# add a new column to end
df['eraser'] = np.arange(4)
print(df)
df.isin([2,4,15])

['ball', 'pen', 'pencil', 'paper']
   ball  pen  pencil  paper  eraser
0     0    1       2      3       0
1     4    5       6      7       1
2     8    9      10     11       2
3    12   13      14     15       3

    ball    pen  pencil  paper  eraser
0  False  False    True  False   False
1   True  False   False  False   False
2  False  False   False  False    True
3  False  False   False   True   False

In [75]:
# nested dict structures are quick way to write a dataframe
nestdict = { 'red': { 2012: 22, 2013: 33 },\
 'white': { 2011: 13, 2012: 22, 2013: 16},\
 'blue': {2011: 17, 2012: 27, 2013: 18}}
df2 = pd.DataFrame(nestdict)
# check they are unique indices
df2.index.is_unique

True

### Useful functions for wrangling data
my_series.reindex( PASS NEW INDEXES )

this will extend to 6 and fill out (also see 'bfill'
my_series.reindex(range(6),method='ffill') 

df.reindex(range(6), method='ffill', columns=[some cols])

Delete rows:
df.drop([list of indexes of rows to drop])
DElete cols:
df.drop([], axis=1)